header {
  background-color: red; }

.btn_menu {
  background-color: white;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn_menu i {
    font-size: 500%;
    color: #3199c2;
    text-align: center; }

.btn_menu:hover {
  opacity: 10; }
