
<div class="menu_style">
<button class="btn_menu">
        <i class="fas fa-address-book"></i>
</button>
<button class="btn_menu">
    <i class="fas fa-store"></i>
</button>

<button class="btn_menu">
    <i class="fas fa-cash-register"></i>
</button>

<button class="btn_menu">
    <i class="fas fa-calendar-alt"></i>
</button>

<button class="btn_menu">
    <i class="fas fa-poll"></i>
</button>

<button class="btn_menu">
        <i class="fas fa-arrows-alt"></i>
</button>

<button class="btn_menu">
     <i class="fas fa-user-alt"></i>
</button>

</div>


