<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
      <a href="/pages/welcomuser.html">
      <h3>Small One</h3>
      <strong>S1</strong>
      </a>
  </div>
  <ul class="list-unstyled components">
      <li >
          <a href="#storeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              Магазины
          </a>
          <ul class="collapse list-unstyled" id="storeSubmenu">
              <li>
                <a href="#">Создать заказ</a>
              </li>
              <li>
                <a href="#">Текущие продажи</a>
              </li>
              <li>
                  <a href="#">Каталог</a>
              </li>
              <li>
                  <a href="#">Создать новый</a>
              </li>
          </ul>
      </li>
     
      <li >
          <a href="#partnerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-address-book"></i>
              Поставщики
          </a>
          <ul class="collapse list-unstyled" id="partnerSubmenu">
              <li>
                  <a href="/pages/partners.html">Контакты</a>
              </li>
              <li>
                  <a href="#">Товары</a>
              </li>
              <li>
                  <a href="#">Расчеты</a>
              </li>
          </ul>
      </li>
      
      <li >
        <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-users"></i>
            Сотрудники
        </a>
        <ul class="collapse list-unstyled" id="employeeSubmenu">
            <li>
                <a href="#">Карточки</a>
            </li>
            <li>
                <a href="#">Расчеты</a>
            </li>
        </ul>
    </li>

    <li >
      <a href="#analiticSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-chart-line"></i>
          Аналитика
      </a>
      <ul class="collapse list-unstyled" id="analiticSubmenu">
          <li>
              <a href="#">Показатели</a>
          </li>
          <li>
              <a href="#">Прогноз</a>
          </li>
      </ul>
  </li>
  
  <li >
    <a href="#calendarSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
      <i class="fas fa-calendar-alt"></i>
        Календарь
    </a>
    <ul class="collapse list-unstyled" id="calendarSubmenu">
        <li>
            <a href="#">Заметки</a>
        </li>
        <li>
           <a href="#">Расходы</a>
      </li>
    </ul>
</li>

<li >
  <a href="#cashBoxSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
    <i class="fas fa-cogs"></i>
      Касса
  </a>
  <ul class="collapse list-unstyled" id="cashBoxSubmenu">
      <li>
          <a href="#">Интерфейс</a>
      </li>
      <li>
          <a href="#">Настройка</a>
      </li>
  </ul>
</li>


      
  </ul>

  <ul class="list-unstyled CTAs">
      <li>
          <a href="#" class="article">О программе</a>
      </li>
      <li>
          <a href="#" class="article">FAQ</a>
      </li>
  </ul>
</nav>









<!-- <div class="sidebar-wrapper">
    <ul class="nav">
        <li class="list-group-item">
            <a class="btn_menu" href="../pages/startuser.html">
                <i class="fas fa-clipboard-list" name="Доска"></i>
                <p>Доска</p>
            </a>
        </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./dashboard.html">
            <i class="fas fa-store"></i>
          <p>Магазин</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./user.html">
            <i class="fas fa-address-book"></i>
          <p>Поставщики</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./tables.html">
            <i class="fas fa-users"></i>
          <p>Работники</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./typography.html">
            <i class="fas fa-arrows-alt"></i>
          <p>Движение </p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./icons.html">
            <i class="fas fa-poll"></i>
          <p>Аналитика</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./map.html">
            <i class="fas fa-calendar-alt"></i>
          <p>Календарь</p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./map.html">
            <i class="fas fa-cash-register"></i>
          <p>Касса</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./notifications.html">
            <i class="fas fa-money-bill"></i>
          <p>Расходы</p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./rtl.html">
            <i class="fas fa-user-cog"></i>
          <p>Профиль</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-panel"> -->