









<!-- <div class="sidebar-wrapper">
    <ul class="nav">
        <li class="list-group-item">
            <a class="btn_menu" href="../pages/startuser.html">
                <i class="fas fa-clipboard-list" name="Доска"></i>
                <p>Доска</p>
            </a>
        </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./dashboard.html">
            <i class="fas fa-store"></i>
          <p>Магазин</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./user.html">
            <i class="fas fa-address-book"></i>
          <p>Поставщики</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./tables.html">
            <i class="fas fa-users"></i>
          <p>Работники</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./typography.html">
            <i class="fas fa-arrows-alt"></i>
          <p>Движение </p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./icons.html">
            <i class="fas fa-poll"></i>
          <p>Аналитика</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./map.html">
            <i class="fas fa-calendar-alt"></i>
          <p>Календарь</p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./map.html">
            <i class="fas fa-cash-register"></i>
          <p>Касса</p>
        </a>
      </li>
      <li class="list-group-item">
        <a class="btn_menu" href="./notifications.html">
            <i class="fas fa-money-bill"></i>
          <p>Расходы</p>
        </a>
      </li>
      <li class="list-group-item ">
        <a class="btn_menu" href="./rtl.html">
            <i class="fas fa-user-cog"></i>
          <p>Профиль</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-panel"> -->